name: Starter Workflow

on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3

            - name: list Directory Contents
              run: ls
